/*aniated bacground*/
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
html { 
  background: url(../images/feedback.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  animation: animatedBackground 40s linear infinite;
}

.banner-text{
position: absolute;
    top: 18em;
    left: 18em;
    color: #fff;
    font-family: 'Berkshire Swash', cursive;
    /*font-weight: 100;*/
    /*font-size: 3.1em;*/
    /*text-align: center;*/
}